
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular';
    font-size: 14px;
}

.page {
    width: 1400px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.menu {
width: 100%;
background-color:  #2A2A2A;
border-radius: 2px;
padding: 33px 28px;
}

.menu ul{
    height: 50px;
    list-style: none;
}

.menu li { 
list-style-type:none;
padding-right: 18px;
padding-left: 18px;
text-transform: uppercase;
cursor: pointer;
transition: grow 500ms ease;

}

.menu li:hover {
    transform: scale(1.1);
}

.menu a {
    color: white;
    text-decoration: none;
}

.menu a:hover {
    color: orangered;
}
